.column-experiences{
width: 85%;
max-height: 765px;
display:block;
background-color: aliceblue;
align-items: center;
flex-direction: column;
/* margin-top: vw; */
border-radius: 2vw;
overflow-y: scroll;
}
.grand-titre{
    text-align: center;
}
.grid-container-denyl{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 1vw;
    
}
/* Denyl Tps */

.Denyl-image{
  padding-left: 10px;

}
.image-d{
    padding: 10px;
    width: 250px;
    border-radius: 50vw;
}
.titre-denyl{
    text-align: center;

}
.exp-denyl{
    width: 30vw;
}
.p-denyl{
    font-size: 15px;
    padding-top: 0.5vw;
    padding-right: 5vw;
    margin-left: 5vw;
}


/* Lawson Cosmos */

.Lawson-image{
    padding-left: 10px;
  
}
.image-l{
    padding: 10px;
    width: 250px;
    border-radius: 50vw;

}
.titre-lawson{
    text-align: center;
}
.exp-lawson{
    width: 30vw;
}

.p-lawson{
    font-size: 15px;
    padding-top: 0.5vw;
    padding-right: 5vw;
    margin-left: 5vw;
}

/* C.P.S */


.CPS-image{
    padding-left: 10px;
  
}
.image-c{
    padding: 10px;
    width: 250px;
    border-radius: 50vw;
}

.titre-CPS{
    text-align: center;
}

.exp-CPS{
    width: 30vw;
}

.p-CPS{
    font-size: 15px;
    padding-top: 0.5vw;
    padding-right: 5vw;
    margin-left: 5vw;
}

/* Seatem france */

.seatem-image{
    padding-left: 10px;
}

.image-s{
    padding: 10px;
    width: 250px;
    border-radius: 50vw;
}

.titre-seatem{
    text-align: center;
}

.exp-seatem{
    width: 30vw;
}

.p-seatem{
    font-size: 15px;
    padding-top: 0.5vw;
    padding-right: 5vw;
    margin-left: 5vw;
}

@media (max-width: 1000px) {
    .column-experiences {
        width: 100%;
        max-height: 500px;
        overflow-y: scroll;
    }

    .grid-container-denyl {
        grid-template-columns: 1fr; /* Change la grille pour avoir une seule colonne */
        padding: 10px;
    }

    .exp-denyl,
    .exp-lawson,
    .exp-CPS,
    .exp-seatem {
        width: auto;
    }

    .p-denyl{
        font-size: 14px;
        padding-right: 10px;
        margin-left: 10px;
        
    }
    .p-lawson{
        font-size: 14px;
        padding-right: 10px;
        margin-left: 10px;
        
    }
    .p-CPS{
        font-size: 14px;
        padding-right: 10px;
        margin-left: 10px;
       
    }
    .p-seatem{
        font-size: 14px;
        padding-right: 10px;
        margin-left: 10px;
       
    }

    .image-d,
    .image-l,
    .image-c,
    .image-s {
        width: 200px; 
        margin-left: 25vw;

    }
}









